<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login With Something</title>
    <script src="/js/main.js"></script>
</head>
<body>
    
    <label for="services">Select Service</label>
    <select name="services" id="services" onchange="show_service(this.value)">
        <option value="none" selected>None</option>
        <option value="linkedin">LinkedIn</option>
        <option value="auth0">Auth0</option>
        <option value="auth0saml">Auth0 SAML</option>
    </select>
    <div id="linkedin" style="display: none;">
        <br>
        <label for="linkedin_clientid">Client_ID</label><input type="text" name="linkedin_clientid" id="linkedin_clientid"><br>

        <label for="linkedin_clientsecret">Client_Secret</label><input type="text" name="linkedin_clientsecret" id="linkedin_clientsecret"><br>

        <label>Scope</label>
        <input type="checkbox" id="linkedin_scope" name="linkedin_scope" value="r_emailaddress">r_emailaddress</input>
        <input type="checkbox" id="linkedin_scope" name="linkedin_scope" value="r_liteprofile">r_liteprofile</input>
        <input type="checkbox" id="linkedin_scope" name="linkedin_scope" value="w_member_social">w_member_social</input>
        <button onclick="redirectLogin('linkedin')">Login With LinkedIn</button>
    </div>

    <div id="auth0" style="display: none;">
        <br>
        <label for="auth0_clientid">Client_ID</label><input type="text" name="auth0_clientid" id="auth0_clientid"><br>

        <label for="auth0_clientsecret">Client_Secret</label><input type="text" name="auth0_clientsecret" id="auth0_clientsecret"><br>

        <label>Scope</label>
        <input type="checkbox" id="auth0_scope" name="auth0_scope" value="openid">openid</input>
        <input type="checkbox" id="auth0_scope" name="auth0_scope" value="profile">profile</input>
        <input type="checkbox" id="auth0_scope" name="auth0_scope" value="email">email</input>
        <button onclick="redirectLogin('auth0')">Login With auth0</button>
    </div>

    <div id="auth0saml" style="display: none;">
        <br>
        <label for="auth0saml_clientid">Client_ID</label><input type="text" name="auth0saml_clientid" id="auth0saml_clientid"><br>

        <label for="auth0saml_clientsecret">Client_Secret</label><input type="text" name="auth0saml_clientsecret" id="auth0saml_clientsecret"><br>

        <label>Scope</label>
        <input type="checkbox" id="auth0saml_scope" name="auth0saml_scope" value="placeholder">placeholder</input>
        <button onclick="redirectLogin('auth0saml')">Login With auth0 SAML</button>
    </div>
</body>
</html>